
*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}




#nav{
    margin-top:0px;
    width:100vw;
    height:80px;
    background-color:rgba(0, 0, 0, 0.897);
    align-items: center;
    position:fixed;
    display:flex;
    justify-content: space-around;
    box-sizing: border-box;
    
    }