*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
}

#container{
display:flex;
width:200px;
margin:auto;
}

input,button{
    margin-top:3px;
    padding: 5px;
    width:100%;
}